*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; /*Indica el tamaño del contenido es igual al de la caja: 100%*/
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /*es útil cuando se quiere que el tamaño de algo sea relativo al de la ventana*/
    background-color:lightgreen;
}

.container{
    width: 500px;
    background-color:darkmagenta;
    color: white;
}

.container h1{
    font-size: 35px;
    text-align: center;
}

.container .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    /* background-color: lightpink; */
    margin: 30px 0;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 40px;   
}

.input-box input::placeholder{
    color: white;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}